.actions_butt{
    background: rgba(173, 216, 230, 1);
    padding: 0px 13px;
    border: none;
    color: black;
}
.actions_butt:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}