/*spolocne css pre vsetky sekcie*/

.jh-table {
  border-collapse: collapse;
}

.jh-table th {
  border-bottom: 1px solid;
}
.jh-table td, .jh-table th {
  border-left: 1px solid;
  padding: 5px 10px;
}
.jh-table td:first-child, .jh-table th:first-child {
  border-left: none;
}

.jh-table tr:nth-child(even){
	background-color: #eee;
}

.jh-section-wrapper{
    margin-left: 20px;
    float: left;
    width: 100%;
}